<div class="card mb-3">
  <h2 class="card-header h4">
    Artpiece #<%= artpiece.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= artpiece.title %></dd>

      <dt>Year</dt>
      <dd><%= artpiece.year %></dd>

      <dt>Artistic movement</dt>
      <dd><%= artpiece.artistic_movement %></dd>

      <dt>Description</dt>
      <dd><%= artpiece.description %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @artpiece.image, class: "img-fluid" %>
      </dd>

      <dt>Artist</dt>
      <dd>
        <% if @artpiece.artist.present? %>
          <%= link_to artpiece.artist, artpiece.artist %>
        <% end %>
      </dd>

      <dt>Museum</dt>
      <dd>
        <% if @artpiece.museum.present? %>
          <%= link_to artpiece.museum, artpiece.museum %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back artpiece, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_artpiece_url(artpiece), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to artpiece, method: :delete, data: { confirm: "Do you really want to delete this artpiece?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(artpiece.updated_at) %> ago
  </div>
</div>
