<% was_validated = artist.errors.any? %>

<%= form_with(model: artist, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = artist.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% artist.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dob_year_class = "form-control" %>
    <% dob_year_was_invalid = artist.errors.include?(:dob_year) %>

    <% if was_validated %>
      <% if dob_year_was_invalid %>
        <% dob_year_class << " is-invalid" %>
      <% else %>
        <% dob_year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dob_year %>
    <%= f.number_field :dob_year, class: dob_year_class, placeholder: "Enter dob year" %>
    <% if dob_year_was_invalid %>
      <% artist.errors.full_messages_for(:dob_year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% biography_class = "form-control" %>
    <% biography_was_invalid = artist.errors.include?(:biography) %>

    <% if was_validated %>
      <% if biography_was_invalid %>
        <% biography_class << " is-invalid" %>
      <% else %>
        <% biography_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :biography %>
    <%= f.text_field :biography, class: biography_class, placeholder: "Enter biography" %>
    <% if biography_was_invalid %>
      <% artist.errors.full_messages_for(:biography).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
